<div  style="background-color: #ddd6ce1c;">
<div class="container ">
    <h2 class="pt-10 pb-4">{{.Params.slidingDoorsHead}}</h2>
    <h3>{{.Params.slidingDoorsHead1}}</h3>
    <p class="pt-4 lg:ml-6 text-justify">{{.Params.slidingPara}}</p>
    <div><a href="/contact/"><button
        class="btn text-white hover:text-gray-600 m-4 rounded px-4 py-1 lg:ml-6 outline-none focus"
      >
        Request Quote >
      </button></a>
  </div>
       <div class="mt-5 flex flex-col place-items-center ">
        <div class="relative bg-cover place-self-center my-6 ">
            <img src="/images/sec-doors/sliding-door/TENTUFF-Sliding-Door-Slidpg.jpg" style="width:60vw;"
                class="foto  object-cover shadow-md p-4"
                alt="description" />
        </div>
        
        
</div>
</div>
</div>
<div class=" bg-custom-nav">
<div class="container">
<div class="mt-8 flex w-full justify-center">
        <iframe class="relative " id="video"
          src="https://www.youtube.com/embed/8NQpk9ajHcs?enablejsapi=1&amp;rel=0"  width="646px"
          height="315" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="bg-cutom-light-white py-4 ">
    <div class="container">
    <h3 class="text-center md:pb-6 sm:py-4 ">{{.Params.slidingDoorsHead1}}</h3>
<div class=" flex lg:flex-row flex-col justify-center gap-4" >
    
    <img src="/images/Sliding-Security-Door-Main-Tentuff-LR.jpg"
        class="foto object-contain pb-4" style="width:365px"
        alt="description" />
    
    
        <img alt="TENTUFF Hinged Security Door Animation"class=""
    src="/images/Sliding-Door-1.gif" style="width:307px" >

</div>
</div>
</div>